<div>
	<h1>&nbsp;Kopiranje cenovnika</h1>
</div>
	</br></br>

<div class="form-inline">
	<div class="form-group">&nbsp;
		<label>Izbor cenovnika:</label>
		<select ng-model="selectedPricelist" class="form-control" required>
			<option data-hidden="true" ng-repeat="obj in requestedTable.rows track by $index" >
				{{obj.fields.naziv}}
			</option>
		</select>
	</div>
	<button ng-click="openDocument()"type="button" class="btn btn-primary">Prikazi stavke cenovnika</button>
</div>
</br>
<div ng-if="selectedPricelist">
	<div class="form-inline">
		<div class="form-group">&nbsp;
			<label>Datum primene: </label>
		</div>
	 	<input id = "input" type="text" class="form-control adjust" value = {{$parent.selectedData.fields.datum_primene}} ng-model="$parent.selectedData.fields.datum_primene">
	</div>
</div>
<div ng-if="documentChild"></br>
	<table class="table table-hover">
		<thead>
		  <tr>
			<th ng-repeat="field in documentChild.fields track by $index">{{field.name}}</th>
			<th>Izmena cene</th>
		  </tr>
		</thead>
		<tbody>
		  <tr ng-repeat="row in documentChild.rows">
			<td ng-repeat="data in row.fields track by $index">{{data}}</td>		  
			<td>				
				<div class="row-fluid form-inline" style="overflow: hidden;">
				   <input type="text" id="{{row.fields.id}}" />
					<button ng-click="apply(row.fields)">Potvrda</button>
				</div>
			</td>
		  </tr>
		</tbody>
	</table>
	<button ng-click="showForm()" type="button" class="btn btn-primary">Nova stavka</button>
	<button ng-click="copyPricelist()" type="button" class="btn btn-primary">Kopiraj cenovnik</button>
</div></br>
<div ng-if="form">
	<div class="form-inline">
	<div class="form-group">&nbsp;
		<label>Izbor artikla:</label>
		<select ng-model="selectedArticle" class="form-control" required>
			<option data-hidden="true" ng-repeat="obj in catalog.rows track by $index" >
				{{obj.fields.naziv_artikla}}
			</option>
		</select>
	</div>
	<button ng-click="addArticle()"type="button" class="btn btn-primary">Dodaj</button>
</div>
</div>


