@CHARSET "ISO-8859-1";

.centered{
	text-align : center;
	vertical-align:middle
}

.tableBG{
	background-color: white;
	font-size: 14px;
}

.bg{
	background: url(images/background.jpg) no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	color:white;
}
div, h{
	color: #337ab7;
}